.searchInput {
    min-width: 25vw;
    max-width: 35vw;
}

.searchInput ul {
    min-width: 50vw !important;
    color: black !important;
    font-size: 0.5rem !important;
}

.searchContainer {
    max-width: 40vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
}

.searchButton {
    color: #fff !important;
    margin-left: 8px !important;
    padding-left: 8px !important;
}

.searchMenu {
    color: white;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    vertical-align: bottom;
}

.searchMenu div[data-react-toolbox="menu"] {
    left: 5vh !important;
    top: 1vh !important;
}

.searchMenu button {
    color: #fff !important;
    margin-left: 8px !important;
    padding-left: 8px !important;
}

.searchMenuLabel {
    padding: 0;
    margin: 0;
    margin-bottom: -3px;
    margin-left: -4px;
}

.headerContainer {
    width: 95vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.searchItems {
    width: 70vh;
    align-self: flex-end;
}

.thumbnail {
    max-width: 64px;
}

.dialogImgContainer {
    max-width: 30vw;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dialogImg {
    min-width: 25vw;
    max-width: 30vw;
}

.tableContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 65vw;
    max-height: 45vh !important;
    margin-bottom: 3rem;
}

.tableHead {
    min-width: 64vw;
    max-width: 64vw;
}

.dialogTable {
    max-width: 65vw;
    max-height: 60vh !important;
    align-self: flex-end;
    overflow-y: scroll;
}

.albumContainer {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-top: 5vh;
    max-height: 70vh;
    min-width: 90vw !important;
}

.title {
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
}

.main {
    display: flex;
    margin-top: 10vh;
    max-height: 85vh;
    min-height: 85vh;
    max-width: 100vw;
    justify-content: center;
    align-items: center;
}

.searchResults {
    max-height: 82vh;
    min-width: 90vw;
    max-width: 90vw;
    overflow-y: scroll;
}

@media only screen and (max-width: 480px) {
    .material-icons {
        font-size: 0.6rem !important;
    }
    .title {
        display: none;
    }
    .searchItems {
        font-size: 0.8rem !important;
        margin: 0 !important;
        min-width: 98vw;
    }
    .dialogTable {
        max-width: 80vw;
    }
    .dialogImg {
        width: 20vw;
        margin-bottom: 2vh;
    }
    .dialogImgContainer {
        min-width: 80vw;
    }
    .thumbnail {
        max-width: 25px;
    }
    .main {
        font-size: 0.8rem !important;
        padding: 3px !important;
    }
    i {
        font-size: 0.5rem;
    }
}

.notFound {
    color: grey;
    font-size: 3rem;
    min-width: 90vw;
    margin: 20vh auto;
    text-align: center;
}